/* © Lorenzo L. Ancora, SPDX-License-Identifier: EUPL-1.2 */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

/* Tor Network */
#torButton {
    color: black;
    background-color: #FFFFFF;
    border-color: #7D4698;
}

#torButton:hover,
#torButton:focus {
    color: white;
    background-color: #7D4698;
    border-color: #7D4698;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.modal-dialog .modal-content {
    animation: "fadein" 0.3s ease-out;
}

#onionModal {
    color: #333A41;
}

#onionModal .modal-header {
    background-color: #F8F9FA;
}

#onionModal #torLinks {
    background-color: #FFFFFF;
    border-color: #F8F9FA;
}

#onionModal #torLinks a {
    color: #7D4698;
    text-decoration: none;
}

#onionModal #torLinks a:hover,
#onionModal #torLinks a:focus {
    color: #59316B;
}