/* © Lorenzo L. Ancora, SPDX-License-Identifier: EUPL-1.2 */
.form-control::placeholder {
    opacity: 0.5;
}

#msfl {
    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
}

#sgroup {
    min-width: 10em;
    max-width: 30em;
}

#sgroup .form-control:focus,
#sgroup button:focus {
    box-shadow: none;
}

#shelp {
    width: fit-content;
}

#s:focus::placeholder {
    opacity: 0;
}

#sbtn span {
    margin-left: -5px;
    font-weight: bold;
}

@keyframes filterwarn {
    from {filter: brightness(100%);}
    to {filter: brightness(70%);}
}

@supports (animation: filterwarn) {
    #limitDropDown.active::after {
        animation: filterwarn 1.0s infinite alternate;
    }
}

#limitDropDownList {
    z-index: 1031;
}

#limitDropDownList a.active {
    pointer-events: none;
}